
<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="js.js"></script>
    </head>
    <body ng-app="app" ng-controller="ctrl">
        <div class="w3-bar w3-green">
            <a href="#" class="w3-bar-item w3-button">Oversigt</a>
            <div class="w3-dropdown-hover">
                <button class="w3-button">Heste</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a ng-repeat="hest in heste" ng-href="#!hest/{{$index}}" class="w3-bar-item w3-button">{{hest.navn}}</a>
                    <a class="w3-bar-item w3-button" ng-click="nyHest()">Tilføj...</a>
                </div>
            </div>
            <a href="#" class="w3-bar-item w3-button">Smed</a>
            <a href="#!vaccines" class="w3-bar-item w3-button">Vaccine</a>
        </div>
        <ng-view></ng-view>
    </body>
</html>